---
import Layout from '../layouts/Layout.astro'
import BlogCard from '../components/BlogCard.astro'
const allPosts = await Astro.glob('../pages/articles/*.md');
---

<Layout title="my Blog"> 
    <div class="flex flex-col justify-start items-center min-h-screen p-6 ">
        <h1 class="text-4xl mb-6">Blog Posts</h1>
        
        <ul>
            {allPosts.map((post) => {
               
                return (
                    <li class="mb-6">
                        <BlogCard
                            title={post.frontmatter.title}
                            href={post.url}
                            description={post.frontmatter.description}
                            date={post.frontmatter.pubDate.slice(0,10)}
                            imageSrc={post.frontmatter.image.url}
                            imageAlt={post.frontmatter.image.alt}
                        />
                    </li>
                );
            })}
        </ul>
    </div>
</Layout>
