---
import Layout from '../layouts/Layout.astro';
import BlogCard from '../components/BlogCard.astro'
const allPosts = await Astro.glob('../pages/articles/*.md');
const latestPosts = allPosts.slice(0, 3);
---

<Layout title="Welcome">

    <section class="text-center py-20">
        <h1 class="text-4xl font-bold">Welcome to Our Blog</h1>
        <p class="mt-4 text-xl">Sharing insights and ideas on various interesting topics.</p>
    </section>
    

    <section class="py-6 px-6 md:px-20">
        <h2 class="text-2xl font-bold mb-6">About</h2>
        <p class="text-lg">Our blog about philosophy, economics, technology, and anything else.</p>
    </section>

 


    <section class="py-16 px-6 md:px-20">
        <h2 class="text-2xl font-bold mb-6">Newsletter</h1>
        <p class="text-lg">
            Join our free newsletter. 
            <br/> - "Very good newsletter"
        </p>
        <br>
        <iframe
         scrolling="no"
         style="width:100%!important;height:220px;border:1px #FFFFFF solid !important"
         src="https://buttondown.email/sandhead?as_embed=true"
         ></iframe><br /><br />

    </section>


    <section class="py-16 px-6 md:px-20">
        <h2 class="text-2xl font-bold mb-6">Latest Posts</h2>
        <div class="flex justify-between items-start flex-wrap">
            {latestPosts.map((post) => {
                return (
                    <div class="w-full md:w-1/3 mb-6 md:mb-0 px-2">
                        <BlogCard
                            title={post.frontmatter.title}
                            href={post.url}
                            description={post.frontmatter.description}
                            date={post.frontmatter.pubDate.slice(0,10)}
                            imageSrc={post.frontmatter.image.url}
                            imageAlt={post.frontmatter.image.alt}
                        />
                    </div>
                );
            })}
        </div>
    </section>

</Layout>
